################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/SurvivalTools/packages/Lib.Harmony.2.0.0.8
*.cache
*.ide-shm
*.ide-wal
/.vs
SurvivalTools.rar
*.cache
Source/SurvivalTools/obj/Release/SurvivalTools.pdb
Source/SurvivalTools/.vs/SurvivalTools/v16/Server/sqlite3/storage.ide
Source/SurvivalTools/.vs/SurvivalTools/v16/.suo
Source/SurvivalTools/.vs/SurvivalTools/v16/TestStore/0/000.testlog
Source/SurvivalTools/.vs/SurvivalTools/v16/TestStore/0/testlog.manifest
Source/SurvivalTools/SurvivalTools.csproj.user
Source/SurvivalTools/obj/SurvivalTools.csproj.nuget.g.props
Source/SurvivalTools/obj/SurvivalTools.csproj.nuget.dgspec.json
Source/SurvivalTools/obj/project.assets.json
Source/SurvivalTools/obj/Debug/SurvivalTools.csprojAssemblyReference.cache
Source/SurvivalTools/obj/Release/SurvivalTools.csproj.FileListAbsolute.txt
Source/SurvivalTools.code-workspace
1.1/Assemblies/SurvivalTools.pdb
1.1/Assemblies/*dll
1.0/Assemblies/*.dll
!1.0/Assemblies/1SettingsHelper.dll
!1.1/Assemblies/1SettingsHelper.dll
Source/SurvivalTools/obj/Release/build.force
Source/SurvivalTools/obj/Debug/SurvivalTools.dll
Source/SurvivalTools/obj/Release/SurvivalTools.dll
